<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="mat-elevation-z2">Cursos
   <div ng-app="mainApp" class="container">
      <div ng-controller="MainCtrl as ctrl" class="pd-20 ">     
         <input type="text"
               ng-model="ctrl.colorName"
               placeholder="Pesquise por um curso.."
               auto-complete="ctrl.autoCompleteOptions" />
         <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      </div>
   </div>
</mat-toolbar>


<app-task-list></app-task-list>


   



