h1 {
   font-weight: 700;
   font-size: 15px;
   margin: 1.8rem 0 1.68rem 0;
}

mat-card.mat-card {
   min-width: 350px;
}

mat-grid-tile.mat-grid-tile {
   -webkit-padding-after: 90px;
}

.bd-bottom {
   border-bottom: 1px solid #ccc;
   padding-bottom: 8px;
}

span {
   font-size: 14px;
}

.pd-t40 {
   padding-top: 40px;
}

.card-link {
   cursor: pointer;
}



